.form {
  width: 396px;
  margin: 70px auto;
}

.fields {
  margin: 0 0 15px 0;
}

.form__title {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin: 40px 0;
}

.fields__title {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #a0a0a0;
  margin: 20px 0 10px 0;
}

.fields__title_inactive {
  position: fixed;
  visibility: hidden;
}

.fields__input {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  width: 100%;
  height: 46px;
  background: #f4f4f4;
  border: none;
  border-radius: 8px;
  padding: 0;
}

.fields__input:focus {
  outline-color: #3456f3;
}

.fields__input_inactive {
  position: fixed;
  visibility: hidden;
}

.fields__span-error {
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #ee3465;
}

.fields__input-error {
  color: #ee3465;
}

.fields__button {
  width: 100%;
  height: 46px;
  margin: 90px 0 30px;
  padding: 0;
  background: #3456f3;
  border-radius: 3px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  border: none;
}

.fields__button_inactive {
  background: #f4f4f4;
  color: red;
}

.fields__button:hover {
  cursor: pointer;
}

.form__list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.form__item {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.form__link {
  text-decoration: none;
  color: #3456f3;
  cursor: pointer;
}

.login-list {
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: space-around;
}

.login-list_inactive {
  position: fixed;
  visibility: hidden;
}

.login-list__item {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.login-list__logo {
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

.login-list__link {
  margin: 0;
  text-decoration: none;
  color: #3456f3;
}

.login-list__link:hover {
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .form {
    margin: 230px auto;
  }
}

@media screen and (max-width: 767px) {
  .form {
    width: 260px;
    margin: 55px auto 30px;
  }

  .form__title {
    margin: 50px 0 80px;
    text-align: center;
  }

  .form__item {
    font-size: 12px;
    line-height: 15px;
  }

  .form__item:nth-child(1) {
    margin-bottom: 15px;
  }

  .login-list__item {
    font-size: 12px;
    line-height: 15px;
  }

  .login-list__item:nth-child(1) {
    margin-bottom: 15px;
  }

  .login-list__logo {
    width: 30px;
    height: 30px;
  }

  .login-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: none;
  }

  .form__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: none;
  }
}

@media screen and (max-width: 425px) {
  .fields__button {
    margin: 180px 0 40px;
  }
}
