.main {
  display: grid;
  grid-template-columns: minmax(min-content, 100px) minmax(min-content, 600px);
  margin: 70px auto;
  width: 700px;
  height: 460px;
  background-color: #f8f9fb;
  border-radius: 10px;
}

.main-page {
  display: flex;
  flex-direction: column;
}

.main-page__chat-block {
  width: 550px;
  height: 360px;
  background-color: #f1f2f4;
  margin-left: 40px;
  border-radius: 5px;
}

.header {
  display: grid;
  align-items: center;
  justify-content: end;
  margin: 10px;
  grid-template-columns: repeat(2, max-content);
  grid-template-rows: minmax(min-content, max-content) minmax(
      min-content,
      max-content
    );
  grid-row-gap: 10px;
}

.header__email {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  justify-self: end;
}

.header__button {
  justify-self: end;
  padding: 2px;
  border-radius: 5px;
  font-size: 16px;
  color: #ffffff;
  border: none;
  background: #3456f3;
  width: 110px;
}

.header__client {
  font-size: 20px;
  font-weight: 600;
  margin: 0 50px 0 0;
}

.header__search {
  font-size: 15px;
  width: 180px;
  height: 28px;
  border: 1px solid;
  border-radius: 5px;
  padding: 0;
}

.header__search_inactive {
  visibility: hidden;
}
.header__search:focus {
  outline-color: #3456f3;
}

.sidebar {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 100%;
  background-color: #3456f3;
  align-items: center;
  border-radius: 10px;
}

.sidebar__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__item:hover {
  cursor: pointer;
}
.sidebar__item:nth-child(1) {
  margin-top: 25px;
}

.sidebar__item:nth-child(2) {
  margin: 25px 0;
}

.sidebar__item:nth-child(3) {
  margin-bottom: 25px;
}

.sidebar__item_title {
  font-size: 13px;
  color: white;
  margin: 10px 0 0 0;
}

.sidebar__item_image {
  border-radius: 5px;
  width: 50px;
  height: 50px;
}
