.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background-image: url("../../images/preloader.gif");
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  background-size: 100px 100px;
  visibility: hidden;
}

.preloader__active {
  visibility: visible;
}
